$font-family: 'Comfortaa', cursive;
$font-family2: 'Grand Hotel', cursive;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fef9fa;
$black: #52514f;

// $dark-background: #222f3e;

$bkg-colors: #43d7f8, #ff6347, #fef9fa, #cdf4fd;
$accent-color: #ff6347;
$danger-color: #ed0c0c;
$error-color: #ff9f43;
$confirm-color: #43d7f8;

$spacing: 2rem;

// border
$border: 3px solid $black;
$border-radius: 10px;