$font-family: 'Comfortaa', cursive;
$font-family2: 'Grand Hotel', cursive;

$h2: 50px;
$h3: 30px;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fef9fa;
$black: #52514f;

// $dark-background: #222f3e;
// #43d7f8, #ff6347,
$bkg-colors:  #facac3, #cdf4fd, #fc8c79;
$bkg-color: #ffffffc9;
$accent-color: #ff6347;
$danger-color: #ed0c0c;
$error-color: #ff9f43;
$confirm-color: #43d7f8;

$spacing: 2rem;

// border
$border: 3px solid $black;
$border-radius: 10px;