@import "../styles/mixins.scss";
@import "../styles/variables.scss";
@import "../styles/typography.scss";

.button {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin: 1rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: $black;
  color: $white;
  background-color: #ff6347;
}

.button:hover {
  @include button-active;

  color: $black;
  background-color: $confirm-color;
  // border: 2px solid #ff6347;
}

.button--small {
  border-radius: 1rem;
  border: 0;
  font-size: 1rem;
  height: 2rem;
  margin: 1rem;
  border-width: 2px;
}

.button--danger {
  color: $danger-color;
  border-color: $danger-color;
  background-color: transparent;
}

.button--confirm {
  color: $confirm-color;
  border-color: $confirm-color;
  background-color: transparent;
}

.button--danger:hover {
  color: $white;
  background-color: $danger-color;
}

.button--confirm:hover {
  color: $white;
  background-color: $confirm-color;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}
