@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.favoriteDiv {
    button {
        border: none;
        // border-radius: $border-radius;
        background-color: transparent;
    }
    h1 {
        color: $accent-color;
    }
    h1:hover,
    h1:focus-within {
        color: red;
    }
}
