@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.recipeListDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 5em;
    margin-top: 12em;
    
    .searchItem {
      margin-left: 5%;
      margin-top: 1em;
      height: 15em;
      max-width: 60em ;
      min-width: 18rem;
      margin: 0.5rem;
      background-color: #eee;
      display: inline-block;
      border: 3px solid #54514979;
      border-radius: $border-radius;
      margin: 1em;
      padding: 1em;
      
     

      h3 {
        word-wrap: break-word;
      }
      
      .Search--img {
      display: inline-block;
      border: 3px solid #54514979;
      border-radius: $border-radius;
      height: 10 em;
  
      }
    }
    .searchItem:hover,
    .searchItem:focus-within,
    .searchItem:active {
      border: 5px solid $confirm-color;
    }
}