@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.recipeUrlDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    margin: 5em;
    background-color: $bkg-color;
    border-radius: $border-radius;
    padding: 5em;
    box-shadow: 0 5px 10px #777;
    .likesDiv {
        width: 9%;
        border: $border;
        border-radius: $border-radius;
        background-color: $confirm-color;
        .likes {
            padding: 30px;
            padding-left: 1em;
        }
    }
    .recipeUrlDiv--img {
        max-width: 90%;
        border: $border;
        border-radius: $border-radius;
        margin: 3em auto;
        img {
            width: 100%;
            border-radius: $border-radius;
        }
    }
    .otherRecipesBySameUser {
        
    }
    
}