.recipe-create-section {
  margin-top: 15em;
  margin-bottom: 5em;
  z-index: 2;
}
.create {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    margin-left: 1 em;

.form {
  font-size: larger;
  
.button {
justify-self:center ;
}

}

}

